html, body {
    height:     100%;
    padding:    0;
    margin:     0;
    font-size:  12px;
}

#pano-outer {
    position:   relative;
    top:        0;
    left:       0;
    min-width:  100%;
    min-height: 100%;
}

#pano {
    position:   fixed;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
}